Body {
  margin: 0;
  font-family: "Source sans pro", sans-serif;

}
.Header {
  padding: 0 20px;
  /* background-color: #3e3a42;  */
  background-image:url(Images/Electronics-passionate-Read-this-now.jpg);
  background-position: center center;
  background-size: cover;
  color: rgb(212, 209, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}
.Header h1{
  font-weight:normal;
  font-size:2rem;
  margin: 0;
  font-family: 'Vollkorn', sans-serif;
  font-display: initial;
  /* FONT USAGE
     font-family: 'Syne Mono', monospace;
     font-family: 'Train One', cursive;
     font-family: 'Vollkorn', serif;
     font-family: 'Zilla Slab', serif; */
}

.icon{
  color:white;
  text-decoration:none;
  padding:5px 5px;
  background-color:#364249d3;
  display:inline-block;
  border-radius:8px;
  font-size: 1.8rem;
}
.Header ul{
  font-family: 'Zilla Slab', serif;
}

.Welcome p{
  padding: 10px 130px;
  font-size:1.18rem;
  line-height:1.4;
  
}

.button{
  color:white;
  text-decoration:none;
  padding:12px 20px;
  background-color:#0f1433e0;
  display:inline-block;
  border-radius:8px;
  font-size: 1.18rem;
}

.Nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.6s ease-out;
}

.Nav li {
  margin-left: 10px;
}

.Nav a:hover {
  color: #6f5887;
  transform: rotate(10deg);
}

.Nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Welcome {
  color: rgb(2, 2, 2);
  background-color: #000000;
  background-image: url(Logo/Logo-Darker_DarkMode-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  display: flex;
  height: 300px;
  
}

.Welcome-inner {
  padding-top: 150px;
  justify-self: self-end;
  /* padding-top: 205px; */
   max-width: 450px;
}

.Body{
  background-color:#e8ecf6;
  padding:20px;
}

.features{
  max-width:1200x;
  margin:0 auto; 
  display:grid;
  grid-template-columns: repeat(auto-fit ,minmax(500px,1fr));
  grid-column-gap:40px;
  grid-row-gap:10px;
  
}

.features-item h2{
  color: #4585a3;
  font-size:1.18rem;
  margin:0;
 
}

.features-item p{
  color:#333;
  margin:0;
  line-height:1.4;
}

.footer{
  background-color:#080a0a;
  color:#FFF;
  text-align:center;  
}

.footer pf1{
  margin:0;
  padding:0;
  color:#5f6363;
  
  
}

.footer h4{
  margin:2px;
  padding:10px;
  
  
}

.footer pf2{
  margin:20px;
  padding:20px 0;
  color: #333;
}